# Eclipse
*.launch
.settings/
.project
.classpath

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml

# Java
*.class

# Backup files
*.bak
*.tmp

# Build tools
build/
bin/

# Google Cloud credentials
**/service-account.json